.detail h6 {
	background: #dfebf7;
	padding: 2px 8px;
	border-radius: 3px;
	font-weight: bold;
}

.detail .data {
	font-size: 11pt;
	text-align: left;
	padding: 0 15%;
}

.detail textarea{
	min-height: 150px;
	font-size: 11px;
}

.detail .date{
	font-size: medium;
	font-family: monospace;
}

.screenshot{
	max-height: 500px;
	overflow: auto;
}
